.header-section {
  background-color: rgb(226, 202, 202);
  width: 100%;
  height: 67px;
  display: flex;
}

.header-division-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-division-left-content {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-content-phone {
  height: 100%;
  display: flex;
  align-items: center;
  color: #888;
}

.left-content-email {
  height: 100%;
  display: flex;
  align-items: center;
  color: #888;
}

.header-division-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-division-right-content {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.right-content-user {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-user-button {
  background-color: transparent !important;
  border: none !important;
  color: #888;
  font-size: 1.1rem;
}

.header-user-button:hover {
  cursor: pointer;
  color: #337ab7;
}

.right-content-social_links {
  height: 100%;
  display: flex;
  align-items: center;
}

.right-content-social_links i {
  padding: 11px;
  color: #888;
  font-size: 1.5rem;
}
